body {
  font-family: 'Source Sans Pro', sans-serif !important;
  line-height: 22px;
  letter-spacing: 0.1px;
  color: #3c3c3c !important;
  font-size: 16px;
}
.appContainer{
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(240, 239, 237);
  padding-bottom: 100px;
}

/* NAVBAR  START */
.Navbar{
  padding: 30px;
}

.Navbar img {
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
          transition:         transform 1.2s ease-in-out;
}
.Navbar img:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/* NAVBAR END */


/* TASKPAGE START */
.TaskPageContainer{
  background-color: white;
  width: 100vw;
  min-height : 66vh;
  margin: auto;
  max-width: 50%;
  min-width: 320px;
  padding: 10px;
  border: 1px solid grey;
  text-align: center;
}

.TaskTable h2{
  border-top:1px solid lightgrey ;
  padding-top: 20px;
  margin-top: 40px;
  font-weight: 400;
}


.TaskTable .Tasks{
  text-align: left;
}

.TaskTable .Tasks .Task{
  margin: 10px;
  min-width: 200px;
  padding : 0px 10px;
}


.TaskTable .Tasks .RemoveBtn{
  color: red;
  padding : 0px 15px;
}

.TaskTable .Tasks .CompleteBtn{
  color: green;
  margin: 0 10px;
  padding : 2px;
  border-radius: 50%;
}

.TaskTable .Tasks .Task .completedTask {
  text-decoration : line-through;
  color: lightgrey
}

.TaskTable .Tasks .Task  .Text{
  padding: 0px 10px;
}

.sideBySide{
  display: flex;
}


/* TASKPAGE END */